# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env
.env
.env.test
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
.claude/

.superpowers/
.worktrees/
